<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    <title>MissionList</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/TodoList.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

    
</head>
<body>
    <div id="app" class="container my-3">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">待辦事項</span>
            </div>
            <input type="text" class="form-control" placeholder="準備要做的任務" v-model="missionContent" @keyup.enter="addMission">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" @click="addMission">新增</button>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="#" :class="{ 'active' : visibility == 'all'}" @click.prevent="visibility = 'all' ">全部</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#" :class="{ 'active' : visibility == 'active' }" @click.prevent="visibility = 'active' ">進行中</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" :class="{ 'active' : visibility == 'done' }" @click.prevent="visibility = 'done' ">已完成</a>
                    </li>
                </ul>
            </div>
            <ul class="list-group list-group-flush text-left">
                <li class="list-group-item" v-for="(missionInfo, index) in filterMission"  @dblclick="editMission(missionInfo)">
                    <!-- 當for迴圈出來的li的id與佔存id不同時則顯示 -->
                    <div class="d-flex" v-if="missionInfo.id !== cacheMission.id">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" :id="missionInfo.id" v-model="missionInfo.finish">
                            <label class="form-check-label" :for="missionInfo.id" :class="{ 'completed' : missionInfo.finish == true }">
                                {{ index + 1}} - {{ missionInfo.content}} - {{ missionInfo.id }}
                            </label>
                        </div>
                        <button type="button" class="close ml-auto" aria-label="Close" @click="removeMission(missionInfo)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- 當for迴圈出來的li的id與佔存id相同時則顯示 -->
                    <input type="text" class="form-control" v-model="cacheContent" v-else @keyup.esc="cancelEdit" @blur="cancelEdit" @keyup.enter="doneEdit(missionInfo)">
                </li>
                <!-- <li class="list-group-item">
                    <input type="text" class="form-control">
                </li> -->
            </ul>
            <div class="card-footer d-flex justify-content-between">
                <span>還有 {{ remainingCount }} 筆任務未完成</span>
                <a href="#" @click.prevent="removeAllmission">清除所有任務</a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="js/mission.js"></script>
    
</body>
</html>